# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Project exclude paths
/gradle/
/libs/
/property(org.gradle.api.file.Directory, fixed(class org.gradle.api.internal.file.DefaultFilePropertyFactory$FixedDirectory, /